html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.error {
    color: red;
}

.navbar {
  margin-bottom: 0;
}
.jumbotron {
    padding: 160px;
}
.jumbotron h2 {
    text-align: center;
    font-weight: normal;
}

#team {
  padding-bottom: 40px;
}

#team h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
}

#team h3 {
    text-align: center;
    font-weight: normal;
}

#team img {
    margin: 0 auto;
    display: block;
}

#contact {
  padding: 40px 0;
  background-color: #eee;
}

#contact h2 {
    text-align: center;
    font-weight: normal;
}

#contact p {
  text-align: center;
  margin: 0;
}

#contact_form .form-group {
    text-align: center;
    margin-top: 30px;
}

#contact textarea {
  resize: none;
  margin-bottom: 20px;
}

#contact_form .form-group input {
    width: 500px;
    margin: 0 auto;
}

#contact_form button {
    width: 500px;
    margin: 0 auto;
    margin-top: 1px;
}