{% extends "kubmo_consulting_site/views/templates/base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Our goal is to spark change in the world.</h2>

        <h2>Design and Development are our tools.</h2>
    </div>

</div>

<div class="container">
    <section id="team">
        <div class="row">
            <div class="col-md-12">
                <h2>The Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="http://placehold.it/300x300">
                <h3>Kinsey Durham</h3>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/300x300">
                <h3>Emma Lawler</h3>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/300x300">
                <h3>Jeff Taggart</h3>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="row">
            <h2>We're here to talk.</h2>
        </div>
    </section>
</div>

{% endblock %}
